<!DOCTYPE html>
<html>
    <%- include("head") %>
    <body onload="init('<%= room %>','<%= user %>');">
        <div id="wrapper">
            <div class="nav_bar">
                <div id="title"><h1>AMK Chat</h1></div>
            </div>
            <div id="swap_alert" class="alert alert-info fixed-top m-2 shadow d-none" role="alert">
                The image was swapped by <span id = "swapper_name"></span>
                <button id="close_swap_alert" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="chat_interface" style="display: block">
            <div class="offline_div" id="offline_div" style="display: none">You are offline</div>
            <div id="drawing_board" style="width: 60%;">
                <!--Regulate the size of the image below-->
                <img id="image" width="50%">
                <canvas  id="canvas"></canvas>
            </div>
            <div class="boxed" >
                <div>
                    <p>
                        <div id="who_you_are" style="display: inline" style="height: 10vh"><%= user %></div>, you are in room: <div id="in_room" style="display: inline"><%= room %></div>
                    </p>
                </div>
                <div id="history" class="container">
                    <br/>
                </div>
            </div>
                <div id="input_wrapper">
                    <div id="input" class="boxed">
                        <form id="chat_form" onsubmit="return false;" style="width: 100%">
                            <div class="input-group mb-3">
                                <button class="input-group-text button" onclick="inputImage()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
                                        <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                        <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"/>
                                    </svg>
                                </button>
                                <button class="input-group-text button" id="canvas_clear">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-x" viewBox="0 0 16 16">
                                        <path d="M6.854 7.146a.5.5 0 1 0-.708.708L7.293 9l-1.147 1.146a.5.5 0 0 0 .708.708L8 9.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 9l1.147-1.146a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146z"/>
                                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                                    </svg>
                                </button>
                                <input onkeypress="pressed(event)" type="text" class="form-control" placeholder="" id="chat_input" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <input class="btn btn-outline-secondary" type="submit" id="chat_send" onclick="sendChatText()" onkeypress="pressed(event)" value="Send"/>
                                </div>
                            </div>
                            <div id="swap-image" style="display: none;">
                                <%- include("imageForm") %>
                                <div class="input-group-append">
                                    <br>
                                    <input class="btn btn-outline-secondary" type="submit" value="Swap Pictures" onclick="swapAndSendImage('<%= room %>','<%= user %>')" style="float: right;"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
